html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 22px;
  color: #a2daf2;
  margin: 0 0 10px 0;
  text-align: center;
}

#map {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.infoWindow {
  width: 250px;
  height: 200px;
  overflow: auto;
}

.infoHeader {
  text-align: center;
  font-size: 1.5rem;
  color: #a2daf2;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 20px;
  overflow-x: hidden;
  transition: 0.5s;
  color: #555;
  background-color: white;
  box-shadow: 5px 5px 10px #bbb;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  cursor: pointer;
  float: right;
  font-size: 1.3rem;
  color: #a2c6f2;
}

.openbtn {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #bbb;
  font-size: 1.2rem;
  padding: .5em;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
  .sidenav {
    height: auto;
  }
}
